.login-center {
    background: #eee;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
}
.login-content {
    background: #fff;
    padding: 48px;
    border-radius: 16px;
    text-align: -webkit-center;
    max-width: 100%;
    width: 340px;
}
.login-content-icon {
    image-rendering: -webkit-optimize-contrast;
}
.login-content-title {
    padding-bottom: 8px;
}
.login-content-button {
    width: -webkit-fill-available;
}